<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>可视化采集平台</title>
    <link href="{{ static_url('lib/bootstrap-3.3.7/css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ static_url('lib/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ static_url('lib/bootstrap-3.3.7/js/bootstrap.js') }}"></script>
    <link href="{{ static_url('favicon.ico') }}" type="image/x-icon" rel="shortcut icon" >
    <link href="{{ static_url('css/base.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Tornado-Scrapy</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="cursor-pointer" href="/">采集任务</a></li>
                    <li><a class="cursor-pointer" href="/add/config">新增任务</a></li>
                    <li><a class="cursor-pointer" href="/data">采集数据</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>500</h1>
        <h3>HTTP-Internal Server Error</h3>
        <div>
            We've been notified about this issue and we'll take a look at it shortly.
        </div>
    </div>
</body>
</html>